<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arguments for Liberty</title>
    
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Slab:300">
    <link rel="stylesheet" type="text/css" href="./assets/css/site.css">
</head>
<body>
    <header>
        <h1>Who will build the roads?</h1>
    </header>

    <!-- content -->
    <main>
        <article>

        </article>
        <!-- comments -->
        <div>

        </div>
    </main>

    <!-- references -->
    <aside>

    </aside>

    <!-- general site stuff -->
    <footer>

    </footer>
</body>
</html>
